@use "../../styles/variables.scss" as *;

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: $text-primary;
  }

  &__container {
    padding: 32px;
    background-color: $background-secondary;
    border-radius: 4px;
    display: grid;
    gap: 16px;
    width: 100%;
    max-width: 400px;
  }

  &__form {
    display: grid;
    gap: 24px;

    &__inputs {
      display: grid;
      gap: 12px;
    }
  }
}
