@use "../../styles/variables" as *;

.login {
  &__form {
    &__inputs {
      display: grid;
      gap: 12px;
    }

    &__register {
      color: $text-secondary;
      font-size: 14px;

      &__link {
        color: $accent;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
