@use "../../styles/variables.scss" as *;

.button {
  background-color: $accent;
  text-align: center;
  color: $background-secondary;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  border: none;
  padding: 6px 24px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: opacity 200ms ease;

  &[value="error"] {
    color: rgb(38, 0, 0);
    background-color: #ff3e25;
  }

  &:hover {
    opacity: 0.8;
  }
}
