@use "../../styles/variables.scss" as *;

.list {
  display: grid;
  gap: 10px;
  border-bottom: 1px solid $background-secondary;
  max-height: 672px;
  padding-bottom: 8px;
  overflow: auto;

  &__item {
    width: 100%;
    background-color: $background-secondary;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 12px 24px;
    align-items: center;
    border-radius: 8px;

    &__textbox {
      display: grid;

      &__title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: $text-primary;
      }

      &__description {
        font-size: 12px;
        font-weight: 500;
        line-height: 15px;
        color: $text-secondary;
      }
    }

    &__actions {
      display: flex;
      gap: 12px;

      img {
        cursor: pointer;
      }
    }

    &__registration {
      cursor: pointer;
      width: 100%;
      border: 2px dashed $background-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 24px;
      gap: 4px;
      border-radius: 8px;
      transition: border 200ms ease;

      &:hover {
        border: 2px dashed $secondary;
      }

      &__title {
        color: $primary;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }
    }

    &--disabled {
      background-color: $background;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }
}
