
@mixin containerAppear($name) {
    @keyframes #{$name} {
      from {
        opacity: 0;
        transform: translateY(-10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    animation: #{$name} 300ms ease forwards;
}