@use "./variables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $background;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $secondary;
    border-radius: 4px;
    border: 5px solid $background;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: $background-secondary;
  }
}

body {
  background-color: $background;
}
