@use "../../styles/variables.scss" as *;

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;

  &__container {
    background-color: $background;
    max-width: 612px;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    display: grid;
    gap: 24px;
  }

  &__title {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    line-height: 32px;
    color: $text-primary;
  }

  &__button {
    background-color: $accent;
    text-align: center;
    color: $background-secondary;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    border: none;
    padding: 6px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 200ms ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    & > :last-child:nth-child(odd) {
      grid-column: 1 / -1;
    }
  }
}
