@use "../../styles/variables.scss" as *;

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $overlay;
  inset: 0;

  &__container {
    background-color: $background;
    max-width: 612px;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    display: grid;
    gap: 24px;
  }

  &__title {
    font-size: 28px;
    text-align: center;
    font-weight: 500;
    line-height: 32px;
    color: $text-primary;
  }

  &__inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;

    & > :last-child:nth-child(odd) {
      grid-column: 1 / -1;
    }
  }
}
